.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: 'Inter', sans-serif !important;
}

.react-calendar__tile--active {
  background: #2563eb !important; /* Blue 600 */
  border-radius: 12px;
}

.react-calendar__tile:hover {
  border-radius: 12px;
  background-color: #f1f5f9 !important;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #f1f5f9 !important;
  border-radius: 8px;
}